body {
    background-color: #010005;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 33px;
    text-align: center;
}

.inicio {
    font-family: 'Times New Roman', Times, serif;
    width: 20%;
    float: left;
    background-color: #d31e1e;
    text-align: center;
}

.curiosidades {
    font-family: 'Times New Roman', Times, serif;
    width: 20%;
    float: left;
    background-color: #ae0e0e;
    text-align: center;
}

.passatempos {
    font-family: 'Times New Roman', Times, serif;
    width: 20%;
    float: left;
    background-color: #df1818;
    text-align: center;
}

.favoritos {
    font-family: 'Times New Roman', Times, serif;
    width: 20%;
    float: left;
    background-color: #810808;
    text-align: center;
}

.contatos {
    font-family: 'Times New Roman', Times, serif;
    width: 20%;
    float: left;
    background-color: #cc0b0bc4;
    text-align: center;
}

.foto {
    width: 1%;
}

.apresentação {
    width: 75%;
    float: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    color: #010b0d;
}

.apresentação2 {
    width: 30%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 33px;
    color: #fef5f5d7;
    text-align: center;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 33.5px;
    color: #f3efef;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    background-color: #101010;
    color: #725bae;
    padding: 13px 13px;
    border: 2px solid #5529a2;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    color: #FFFFFF;
    text-align: center;
}

.hobbies1 {
    width: 33.3%;
    height: 25%;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hobbies2 {
    width: 33.3%;
    height: 25%;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hobbies3 {
    width: 33.3%;
    height: 25%;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.top3 {
    width: 33.3%;
    height: 25%;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.top3s {
    width: 33.3%;
    height: 25%;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.top3l {
    width: 33.3%;
    height: 25%;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gmail {
    width: 33.3%;
    text-align: center;
    float: left;
}

.git {
    width: 33.3%;
    float: left;
    text-align: center;
}

.codewars {
    width: 33.3%;
    float: left;
    text-align: center;
}